@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui";

@layer base {
  body {
    background-color: white;
  }
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.noto-sans{
  font-family: "Noto Sans", sans-serif;
}



.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto !important;
}
